<html>
    <head>
        <title>
            Help Page
        </title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>
    <p></p>

   {{> footer}}
    </body>

</html>